{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Welcome, {{ name }}!
</h1>

<h1>Find Your Penpal Match!</h1>
<p>Tell us a little bit about yourself and we will find your perfect penpal match.</p>
<form id="matchmakingForm">
    <!-- Personal Information -->

    <label for="hobbies">Hobbies (comma-separated):</label><br>
    <input type="text" id="hobbies" name="hobbies"><br><br>

    <label for="favoriteColor">Favorite Color:</label><br>
    <input type="text" id="favoriteColor" name="favoriteColor"><br><br>

    <label for="favoriteQuote">Favorite Quote:</label><br>
    <textarea id="favoriteQuote" name="favoriteQuote" rows="3"></textarea><br><br>

    <!-- External Data Links -->

    <label for="profileUrl">Optional: Link to your social media profile or personal website so we can learn more about you.</label><br>
    <input type="url" id="profileUrl" name="profileUrl">
    <button type="test-url" id="test-profile-url">Test My URL</button><br><br>

    <label for="photoUrl"> Optional: Link to a photo that represents your personality or interests.</label><br>
    <input type="url" id="photoUrl" name="photoUrl">
    <button type="test-url">Test My URL</button><br><br>

    <button type="submit" id="test-photo-url">Match Me!</button>
</form>

<div id="result"></div>

<script>
document.getElementById('test-profile-url').addEventListener('click', function(event) {
  event.preventDefault();
  const url = document.getElementById('profileUrl').value;
  if (url) {
    fetch('/test_user_url', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ url: url }),
    })
    .then(response => response.json())
    .then(data => {
      if (data.status === 200) {
        alert('Your URL is valid and reachable.');
      } else {
        alert('There was an issue with your URL. Please try again.');
      }
    })
    .catch(() => {
      alert('Error testing URL, please try again.');
    });
  } else {
    alert('Please enter a valid URL.');
  }
});

document.getElementById('test-photo-url').addEventListener('click', function(event) {
  event.preventDefault();
  const url = document.getElementById('photoUrl').value;
  if (url) {
    fetch('/test_user_url', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ url: url }),
  })
  .then(response => response.json())
  .then(data => {
    console.log('Success:', data);
  })
  .catch((error) => {
    console.error('Error:', error);
  });
  } else {
    alert('Please enter a valid URL.');
  }
});
</script>
{% endblock %}